<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Boggle</title>
        <link rel="stylesheet" href="/static/boggle.css">
    </head>
    <body>
        <section id="boggle">
            <table class="board">
                <tbody>
                    {% for row in board %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <p> High Score:
                <b>{{ highscore }}</b>
                in {{ nplays }} plays
            </p>

            <p>
                Score: <b class="score">0</b>
                Seconds Left: <b class="timer"></b>
            </p>

            <form method="POST" class="add-word">
                <!-- autofocus is a boolean attribute indicating that an element should be focused on page load. -->
                <input name="word" class="word" autofocus>
                <button>Enter</button>
            </form>

            <p class="msg">
                <!-- our JS will put messages here dynamically -->
            </p>

            <p class="words">
                <!-- our JS will put words here as they score -->
            </p>

        </section>
        <script src="http://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/boggle.js"></script>
        <script>
            // calls the BoggleGame class 
            let game = new BoggleGame("boggle", 60);
        </script>
    </body>
</html>