{% extends 'base.html' %}

{% block content %}
<main id="content">
    <h1> {{ survey.title }} </h1>
    <section>
        {% for category, msg in get_flashed_messages(with_categories=true) %} 
        <p class="{{category}}"> {{category}}: {{msg}} </p>
        {% endfor %}
    </section>
    <p>{{question.question}}</p>
    <form action="/answer" method="POST">
        {% for choice in question.choices %}
        <!-- If the choices are provided, they will be listed in in the input, if not it will just use yes or no -->
        <p><input type="radio" name="answer" value="{{ choice }}"> {{ choice }}</p>
        {% endfor %}
        <button>Continue</button>
    </form>
</main>
{% endblock %}